// font-sizes
$small: 0.75rem;      // 12 
$normal: 0.875rem;    // 14
$medium: 1rem;        // 16
$large: 1.125rem;     // 18
$larger: 1.5rem;      // 24
$xLarge: 1.75rem;     // 28
$xxLarge: 2rem;       // 32
$xxxLarge: 2.875rem;  // 46

// radius
$border-radius: 6px;