@import '../../_globals/colors';

.breadcrumb {
  padding: 16px 0;
  font-size: 1rem;
  display: flex;
  color: $gray;

  .category {
    cursor: pointer;

    &:hover {
      font-weight:600;
      transition: .2s;
    }

    .material-icons {
      width: 1rem;
      height: 1.1rem;
      padding: 0 .5rem 0 0;
    }
  }

  .last-category {
    font-weight: 500;

    span:nth-child(2) {
      visibility: hidden;
    }
    span {
      padding: 0.25rem;
    }
  }
}