@import '../../_globals/variables';

.product-item {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
  padding: 16px;
  margin-bottom: 1px;
  border-radius: 6px 6px 0 0;

  & + & {
    border-radius: 0;
  }
  
  &:last-of-type {
    border-radius: 0 0 6px 6px; 
  }

  .image-layout {
    padding-right: 16px;
    
    .product-image{
      width: 180px;
      height: 180px;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .product-info {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-top: 30px;

    .price {
      font-size: $larger;
      margin-bottom: 16px;

      &:hover {
        cursor: pointer;
      }
    }

    .title {
      font-size: $large;
    }

  }
  
  .state {
    padding-left: 5px;
    padding-top: 30px;
    font-size: $small;
    white-space: nowrap;
  }
}